* { /**/
    box-sizing: border-box; /*determina che i margini ed i padding mantengano la altezza e lunghezza da noi impostata (al contenitore) */
    margin: 0;
    padding: 0;
}



/* COMPONENTS */

#padding-navbar {
    width: 100%;
    max-width: 100%;
    padding: 30px 10px;
}

.navbar {
    width: 80%;
    display: inline-flex;
    font-size: small;
    justify-content: space-between;
}

section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.flexbox {
    display: flex;
}

.spaces {
    padding-right: 10px;
}
/* HEADER */

.header > ol > * {
    list-style: none;
    margin: 0 10px;
}

.links_right {
    text-align: right;
}



/* JUMBOTRON SECTION */

.content_container {
    width: 100%;
    display: flex;
}



/* JUMBOTRON SPECIALS */

h1.bold {
    margin-bottom: 30px;
}

#downarrow{
    line-height: 3;
}



/* BUTTONS */

.btn {
    text-align: center;
    font-size: small;
    border: 0 none transparent;
    background-color: transparent;
    padding: 5px 10px;
}

.btn.free {
    min-width: auto;
}



/* IMAGES */

#logo {
    max-width: 100px;
}

#img_jubotron {
    text-decoration: underline;
}



/* ELEMENT LOOK */

body > header > #padding-navbar {
    background-color: #B4D0E6;
    background-size: 85% auto;
    border: 1px 0 solid grey;
}

body > header > #navbar > .links_right > .btn_start {
    background-color: #0061FE;
    color: #FFF;
}



